!/spec/fixtures/modules/stdlib
!/spec/fixtures/modules/stdlib/*
*.iml
.DS_Store
.bundle/
/.bundle/
/.idea/
/.vagrant/
/Gemfile.lock
/coverage/
/pkg/
/spec/fixtures/manifests/*
/spec/fixtures/modules/*
/vendor/
Gemfile.lock
coverage/
metadata.json
pkg/
spec/fixtures/
vendor/bundle/
